.image-upload-inline {
    display: flex;
    align-items: center;
    gap: 8px;
}

.image-upload-inline.download {
    margin-top: 10px;
}

.clip-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease;
}

.clip-btn:hover {
    opacity: 0.8;
}

.image-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
}

.image-item-inline {
    position: relative;
    width: 60px;
    height: 60px;
}

.image-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #e2e8f0;
}

.remove-btn {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: transform 0.15s ease, background 0.15s ease;

}

.remove-btn:hover {
    transform: scale(1.05);
    background: #f0f0f0;
}


.remove-btn svg {
    width: 10px;
    height: 10px;
    stroke: #000; /* чёрный крестик */
}

.krestik_icon {
    height: 8px;
    width: 8px;
}

.error-message {
    color: #d63031;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}